__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec

# Models (Tracked via Git LFS)
#!models/*.onnx
#!models/rec/*.onnx
#!models/nlp/*.onnx
#!models/nlp/*.json
#!models/dict/*.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# User Settings and Logs
config.ini
*.log

# IDEs
.vscode/
.idea/

# Local Test Files
*.pdf
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.tif
_Backup/
_Error/

# Build/Runtime logs
hf_files.txt
pyinstaller_log.txt

# Ignored binary and large files
*.exe
*.whl
models/
